.titlebg{
    background-color: #000324;
}
.nav-item a{
    color: white;
}
.reserve{
    border: 2px solid #E5FEFF;
}
.nav{
    padding-top: 70px;
}
.column-two{
    padding-left: 5%;
}
.mainimg-Container{
    height: 500px;
    width: 100%;
    overflow: hidden;
}
.img-container{
    height: 100%;
    width: 100%;
    position: relative;
}
.img-container img{
    width: 100%;
    height: 100%;
}
.luxury-container{
    background-color: #000324d4;
    width: 945px;
    height: 232px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2px;
    margin-top: 15em;
    margin-left: 20%;
}
.text-container h1,p{
    color: #E5FEFF;
}
.paradise-Container{
    background-color: #000324;
    height: 416px;
}

