.titlebg{
    background-color: #000324;
}
.nav-item a{
    color: white;
}
.reserve{
    border: 2px solid #E5FEFF;
}
.nav{
    padding-top: 70px;
}
.column-two{
    padding-left: 5%;
}
.mainimg-Container{
    height: 500px;
    width: 100%;
    overflow: hidden;
}
.img-container{
    height: 100%;
    width: 100%;
    position: relative;
}
.img-container img{
    width: 100%;
    height: 100%;
}
.luxury-container{
    background-color: #000324d4;
    width: 945px;
    height: 232px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2px;
    margin-top: 15em;
    margin-left: 20%;
}
.text-container h1,p{
    color: #E5FEFF;
}
.paradise-Container{
    height: 416px;
}
.img-hamster{
    width: 369px;
    height: 416px;
}
.hamster-house-container{
    height: 100%;
    width: 90%;
}
.rooms-Container{
    width: 100%;
    height: 738px;
    
    overflow: hidden;
}
.hotel-galler-container{
    width: 100%;
}
.hotel-galler-container img{
    width: 100%;
}
.hotel-galler-container h1{
    position: absolute;
    font-family: Dosis, Regular;
    color: #FFFFFF;
    font-size: 35px;
}
.card-container{
    position: absolute;
    width: 1,142px;
    height: 522px;
}
.card img{
    width: 369px;
    height: 190px;
}

